[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
python-decouple = "*"
pylint = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
django-crispy-forms = "*"
ipython = "*"

[requires]
python_version = "3.8"
