{% extends 'base.html' %}

{% block title %}Enter New Password{% endblock %}

{% block content %}
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-white">
                            <div class="text-muted text-center">
                                <h4>Enter New Password</h4>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <form role="form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>

                                        </div>
                                        <input class="form-control" placeholder="New Password" type="password"
                                               name="new_password1">
                                    </div>
                                    <div class="text-muted font-italic ">
                                        {% if form.errors.new_password1 %}
                                            <small>
                                                <span class="text-warning">{{ form.errors.new_password1 }}</span>
                                            </small>
                                        {% endif %}
                                    </div>
                                    <div class="text-muted font-italic ">
                                        {% if form.new_password1.help_text %}
                                            <small>
                                                {{ form.new_password1.help_text }}
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>

                                        </div>
                                        <input class="form-control" placeholder="Confirm New Password" type="password"
                                               name="new_password2">
                                    </div>
                                    <div class="text-muted font-italic ">
                                        {% if form.errors.new_password2 %}
                                            <small>
                                                <span class="text-warning">{{ form.errors.new_password2 }}</span>
                                            </small>
                                        {% endif %}
                                    </div>
                                    <div class="text-muted font-italic ">
                                        {% if form.new_password2.help_text %}
                                            <small>
                                                {{ form.new_password2.help_text }}
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="text-center">
                                    <input type="submit" class="btn btn-primary mt-4" value="Set New Password">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}