{% extends 'base.html' %}

{% block title %}
    Password Reset Complete
{% endblock %}

{% block content %}
    <section class="py-10 py-md-14 bg-primary" id="welcome">

        <!-- Shape -->
        <div class="shape shape-top shape-fluid-x svg-shim text-white">
            <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                <path d="M0 0H1420.92C1420.92 0 2134.35 457.505 1420.92 485.868C707.502 514.231 0 0 0 0Z"
                      fill="url(#paint0_linear)"></path>
                <defs>
                    <linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="currentColor" stop-opacity="0.075"></stop>
                        <stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
                    </linearGradient>
                </defs>
            </svg>

        </div>

        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">

                    <!-- Heading -->
                    <h1 class="display-2 font-weight-bold text-white">
                        Password reset completed.
                    </h1>

                    <!-- Text -->
                    <p class="lead text-white mb-8">
                        Your new password has been set. Click the button below to login to your account.
                    </p>

                    <!-- Button -->
                    <a href="{% url 'login' %}" class="btn btn-white shadow lift">
                        Go to Login Page
                    </a>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->

    </section>
{% endblock %}