{% extends 'main.html' %}
{% load static %}

{% block title %}
    Create New Project
{% endblock %}

{% block brand %}
    New Project
{% endblock %}
{% block body %}
        <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0 d-flex justify-content-between align-items-center">
                        <h3 class="mb-0">Projects</h3>
                        <a href="{% url 'expense-add' %}">
                            <button class="btn">Add Expense</button>
                        </a>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                        <input type="submit" value="submit">
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
