{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block title %}

    {% endblock %}
  </title>
  <!-- Favicon -->
  <link href="./assets/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'js/plugins/nucleo/css/nucleo.css' %}" rel="stylesheet" />
  <link href="{% static 'js/plugins/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static 'css/argon-dashboard.min.css' %}" rel="stylesheet" />
</head>

<body class="">
  {% include 'shared/sidenav.html' %}
  <div class="main-content">
    <!-- Navbar -->
  {% load static %}
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">{% block brand %}
        Dashboard
        {% endblock %}</a>
        <!-- Form -->
{#        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">#}
{#            <div class="form-group mb-0">#}
{#                <div class="input-group input-group-alternative">#}
{#                    <div class="input-group-prepend">#}
{#                        <span class="input-group-text"><i class="fas fa-search"></i></span>#}
{#                    </div>#}
{#                    <input class="form-control" placeholder="Search" type="text">#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                    <i class="fa fa-user"></i>
{#                  <img alt="Image placeholder" src="{% static 'img/theme/team-4-800x800.jpg' %}">#}
                </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">{{user.username}}</span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome!</h6>
                    </div>
                    <a href="#" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>My profile</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'logout' %}" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
    <!-- End Navbar -->
    <!-- Header -->
    {% block body %}
    
    {% endblock %}
  </div>
  <!--   Core   -->
  <script src="{% static 'js/plugins/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'js/plugins/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <!--   Optional JS   -->
  <script src="{% static 'js/plugins/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'js/plugins/chart.js/dist/Chart.extension.js' %}"></script>
  <!--   Argon JS   -->
  <script src="{% static 'js/argon-dashboard.min.js' %}"></script>
  <script src="{% static 'js/argon.min.js' %}"></script>
  {% block script %}

  {% endblock %}
</body>

</html>