<div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="projectCreationForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="projectTitle">Title</label>
                            <input name="title" type="text" class="form-control" id="projectTitle">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="incomAmount">Income Amount</label>
                            <input name="income" type="text" class="form-control" id="incomAmount">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="startDate">Start Date</label>
                            <input name="start_date" type="date" class="form-control" id="projectTitle">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="endDate">End Date</label>
                            <input name="end_date" type="date" class="form-control" id="incomAmount">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="projectCreationForm">Create Project</button>
            </div>
        </div>
    </div>
</div>